body{ padding: 0;
border: 0;
margin: 0;
background-image: url(/img/imagem-fundo.png.png);
text-decoration: none;}

.cabeçalho{ background-color: #B1BF41;
height: 100px;
width: 100%; 
display:flex; justify-content: space-between;
 position: fixed;}

.menu{ color: #D96F66 ; 
    font-size: 30px ; 
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-decoration: none; font-weight: bold; }

.linha1{ width: 100vw; 
height: 80vh; 
border-bottom: 6px #7941F2 dotted;
padding-top: 120px;
display: flex; text-align: center; }
.produto1{background-color: white;
height: 60vh;
width: 20vw; margin: auto;}
.produto2{background-color: white;
    height: 60vh;
    width: 20vw; margin: auto;}
.produto3{background-color: white;
        height: 60vh;
        width: 20vw; margin: auto;}


    
.linha2{ width: 100vw; 
    height: 80vh; 
    border-bottom: 6px #7941F2 dotted; display: flex; text-align: center; }

.produto4{background-color: white;
        height: 60vh;
        width: 20vw; margin: auto;}
.produto5{background-color: white;
            height: 60vh;
            width: 20vw; margin: auto;}
.produto6{background-color: white;
                height: 60vh;
                width: 20vw; margin: auto;}  
                
                
.linha3{ width: 100vw; 
    height: 80vh; 
    border-bottom: 6px #7941F2 dotted; display: flex; text-align: center;}

    .produto7{background-color: white;
        height: 60vh;
        width: 20vw; margin: auto;}
.produto8{background-color: white;
            height: 60vh;
            width: 20vw; margin: auto;}
.produto9{background-color: white;
                height: 60vh;
                width: 20vw; margin: auto;}
.preço-pdts{ 
    color: black;
    font-size: 22px ; 
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; text-decoration: none; } 


    






