body{ padding: 0;
border: 0;
margin: 0;
background-color: white;}

.cabeçalho{ background-color: #B1BF41;
height: 100px;
width: 100%; 
display:flex; justify-content: space-between;
 position: fixed;}

.menu{ color: #D96F66 ; 
    font-size: 30px ; 
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-decoration: none; font-weight: bold; }
.caixalog{background-color: #B1BF41;
    height: 50vh;
    width: 40vw; 
    border-radius: 10px;
    display:flex; margin: auto; }

.form{color: black ; 
    font-size: 20px ; 
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-decoration: none; font-weight: bold; }
.botão{ display: block; margin: auto;}

.linha1{ width: 100vw; 
height: 80vh;
background-color: #BC85F2; 
border-bottom: 6px #7941F2 dotted;
padding-top: 120px;
display: flex; }
.produto1{background-color: white;
height: 60vh;
width: 20vw; margin: auto;}
.produto2{background-color: white;
    height: 60vh;
    width: 20vw; margin: auto;}
.produto3{background-color: white;
        height: 60vh;
        width: 20vw; margin: auto;}


    
.linha2{ width: 100vw; 
    height: 80vh;
    background-color: #BC85F2; 
    border-bottom: 6px #7941F2 dotted; display: flex; }

.produto4{background-color: white;
        height: 60vh;
        width: 20vw; margin: auto;}
.produto5{background-color: white;
            height: 60vh;
            width: 20vw; margin: auto;}
.produto6{background-color: white;
                height: 60vh;
                width: 20vw; margin: auto;}  
                
                
.linha3{ width: 100vw; 
    height: 80vh;
    background-color: #BC85F2; 
    border-bottom: 6px #7941F2 dotted; display: flex; }
.produto7{background-color: white;
        height: 60vh;
        width: 20vw; margin: auto;}
.produto8{background-color: white;
            height: 60vh;
            width: 20vw; margin: auto;}
.produto9{background-color: white;
                height: 60vh;
                width: 20vw; margin: auto;}
.preço-pdts{ text-align: center; color: black;font-size: 20px ; 
    font-family: 'Poppins', sans-serif; font-weight: bold;} 


    






